{% extends 'mail_sending/base.html' %}

{% block content %}

<form method="post">

    <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                    <div class="card-header py-3 text-bg-secondary border-dark">
                        Удаление поста
                    </div>

                    <div class="card-body">

                            {% csrf_token %}
                            <p>Вы действительно хотите удалить запись - {{ object.title }} ?</p>
                            <button type="submit" class="btn btn-outline-danger">
                                Удалить
                            </button>
                            <a class="btn btn-outline-warning" href="{% url 'mail_sending:message_index' %}">Отмена</a>

                        <a href="{% url 'mail_sending:message_index' %}" type="button" class="btn btn-sm btn-outline-secondary btn-lg float-end">Назад</a>

                    </div>
                </div>
            </div>

</form>


{% endblock %}