{% extends 'mail_sending/base.html' %}

{% block content %}

<div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">

                    <div class="card-header py-3 text-bg-secondary border-dark">
                        <h4 class="my-0 fw-normal text-center">{{ object.name|title }}</h4>
                    </div>

                    <div class="card-body">

                        <p class="card-text">ФИО: {{ object.name }}</p>
                        <p class="card-text">Почта: {{ object.email }}</p>
                        <p class="card-text">Комментарий: {{ object.comment }}</p>


                        <hr>

                        <div class="btn-group">
                            {% if perms.client.change_client %}
                            <a href="{% url 'client:client_update' object.pk %}" class="btn btn-outline-success">Edit</a>
                            {% endif %}
                            {% if perms.client.delete_client %}
                            <a href="{% url 'client:client_delete' object.pk %}" class="btn btn-outline-danger">Delete</a>
                            {% endif %}
                        </div>

                        <a href="{% url 'client:client_index' %}" type="button" class="btn btn-sm btn-outline-secondary btn-lg float-end">Назад</a>

                    </div>
                </div>


</div>

{% endblock %}