{% extends 'mail_sending/base.html' %}

{% block content %}

<div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">

                    <div class="card-header py-3 text-bg-secondary border-dark">
                        <h4 class="my-0 fw-normal text-center">{{ object.title|title }}</h4>
                    </div>

                    <div class="card-body">

                        <img src="/media/{{ object.image }}" height="100%" width="100%"/>
                        <p class="card-text">Описание: {{ object.content }}</p>
                        <p class="card-text">Дата создания: {{ object.data_create }}</p>
                        <p class="card-text">Дата редактирования: {{ object.is_published}}</p>
                        <p class="card-text">Количество просмотров: {{ object.views_count}}</p>


                        <hr>

                        <div class="btn-group">
                            {% if perms.blog.change_blog %}
                            <a href="{% url 'blog:blog_update' object.pk %}" class="btn btn-outline-success">Edit</a>
                            {% endif %}
                            {% if perms.blog.delete_blog %}
                            <a href="{% url 'blog:blog_delete' object.pk %}" class="btn btn-outline-danger">Delete</a>
                            {% endif %}
                        </div>

                        <a href="{% url 'blog:blog_index' %}" type="button" class="btn btn-sm btn-outline-secondary btn-lg float-end">Назад</a>

                    </div>
                </div>


</div>

{% endblock %}